body{
    border: 2px solid black;
width: 100%;
padding-bottom: 50px;
}
li{
    display: inline-block;
    width: 10%;
    font-size: x-large;

}
li:hover{

    color: orange;
}
hr{
    width: 50%;
}
#p1{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: black;
}
p{
    font-size:x-large;
}